wheel==0.37.1
redis==4.3.3
numpy==1.22.4
torch==1.11.0
plotly==5.8.0
wandb==0.12.18
matplotlib==3.5.2
tqdm==4.56.0
trueskill==0.4.5
msgpack==1.0.4
msgpack_numpy==0.4.7.1
EARL-pytorch==0.5.1
pillow==9.1.1
gym==0.24.0
scipy
pygame==2.1.2
keyboard==0.13.5
rlgym==1.2.0
rlgym-tools
numba==0.55.2