wheel==0.36.2
redis==3.5.3
numpy==1.20.3
torch==1.9.0+cu102
torchvision==0.10.0+cu102
torchaudio===0.9.0
plotly==5.3.1
wandb==0.12.1
matplotlib==3.3.3
tqdm==4.56.0
trueskill==0.4.5
msgpack==1.0.2
msgpack_numpy==0.4.7.1
EARL-pytorch==0.3.4
pillow==8.2.0
gym==0.18.3
rlgym==1.0.0
rlgym-tools==1.1.4
